# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
venv/
env/

# Editor/OS specific
.vscode/
.idea/
*.DS_Store
Thumbs.db


library_test_input.json
actual_test_ucp_v1_0_0.json
comprehensive_test_ucp.json 
test_ucp_v1_0_0.json 
temp_ucp_test.json 
